body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }

  .container-fluid{
    margin-left: 950px;
    color: #e605fa !important; 
  }

  .container-fluid .btn:hover {
    transform: scale(1.2);
    color: #e605fa;
    font-weight: 400;
  }

  .pink-line {
    border-top: 1px solid pink;
    margin: 0;
  }
  
  /* Navigation Bar */
  .navbar {
    background-color: #ffffff;
    box-shadow: #e605fa;
  }

  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease-in-out;
    margin-right: 20px;
    font-weight: 400;
  }
  
  .navbar-brand {
    font-size: 0.2rem;
    font-weight: bold;
    color: #e605fa;
  }
  
  .navbar-nav .nav-link {
    color: white;
    background-color: hotpink;
    transition: color 0.3s ease;
    display: flex;
    border-radius: 10%;
  }

  .nav-link {
    color: #ffffff !important;
  }

  .navbar .btn {
    color: hotpink !important;
  }
  
  .navbar-nav .nav-link:hover {
    border-radius: 20%;
    transform: scale(1.2);
  }
  .nav-item{
    margin-bottom: 80px;
  }

  .blog h1 {
    color: darkblue !important;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
  }

  .col1 {
    display: flex;
  }

  .video-container {
    position: relative;
    overflow: hidden;
  }

  .video-container:hover iframe {
    transform: scale(1.2); /* Increase the scale on hover */
    transition: transform 0.5s; /* Add a smooth transition effect */
  }

  .video-container iframe {
    border: 0;
    transition: transform 0.5s; /* Add transition to prevent sudden change */
  }

  .text-center {
    color: black !important;
  }

  .text-center p {
    font-size: 20px;
    width: 100%;
    color: hotpink;
  }

  .text-center h2 {
    color: hotpink;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
  }